#Summary:-

##Wrapper Function
##Lambda Function or Anonymous Function
##map Function
##filter Function
##reduce Function

##Wrapper Function:-

In [ ]:
def test6(func):
  def test7():
    func()
    print(func())
    print("This is my Decorator Function")
    return func()
  return test7

def test8():
  return 5+7

test8()

12

In [ ]:
test8() + 12   #Because Both are integer

24

In [ ]:
@test6
def test8():
  return 5+7

test8()

12
This is my Decorator Function

In [ ]:
test8() + 100

112

###Another Situation:- Pass many Arguments as you want (By- *args)

In [ ]:
def test6(func):
  def test7(*args):
    func(*args)
    print(func(*args))
    print("This is my Decorator Function")
    return func(*args)
  return test7

def test8():
  return 5+7

test8()


@test6
def test8(a,b,c):
  return a+b+c

test8("Dipanjan", "Das", "Well")

DipanjanDasWell
This is my Decorator Function

'DipanjanDasWell'

##Lambda Function or Anonymous Function (Function without a Name)

In [ ]:
c = lambda a , b: a + b   #lambda is a Researved keyword

c("Dipanjan", " Das")

'Dipanjan Das'

###lambda Function Example:-

In [ ]:
# def double(x):   #Nornal Function
#   return x*2

double = lambda x: x*2   #Writing in short from a Function

double(5)

10

In [ ]:
cube = lambda x: x**2    #lambda is a one line Function

cube(6)

36

In [ ]:
avg = lambda x,y,z: (x+y+z)/3

avg(4,6,8)

6.0

##map Function:-

In [ ]:
l = [1,2,3,4,5,6,7]

li = []

for i in l:          #Using for Loop
  li.append(i+10)
li

[11, 12, 13, 14, 15, 16, 17]

In [ ]:
l = [1,2,3,4,5,6,7]

def test14(a):
  return a + 10
  
list(map(test14, l))

[11, 12, 13, 14, 15, 16, 17]

###map Example:-

In [ ]:
def cube(x):
  return x*x*x

l = [1,2,3,4,5,6,7]

newl = list(map(cube, l))   #(function name, Where you want to apply this Function) => It is working on every element in List

print(newl)

[1, 8, 27, 64, 125, 216, 343]

###Another way

In [ ]:
list(map(lambda a: a + 10, l))

[11, 12, 13, 14, 15, 16, 17]

##Upper Case

In [ ]:
l = ["Dipanjan", "Das", "iNeuron"]

li = []
for i in l:
  li.append(i.upper())

li

['DIPANJAN', 'DAS', 'INEURON']

###Upper Case - Using map

In [ ]:
l = ["Dipanjan", "Das", "iNeuron"]

list(map(lambda a : a.upper(), l))

['DIPANJAN', 'DAS', 'INEURON']

###Length of every String

In [ ]:
l = ["Dipanjan", "Das", "iNeuron"]

list(map(len, l))

[8, 3, 7]

###filter Function

In [ ]:
l = [1,2,3,4,5,6,7,8]   #Filter out all the Even number from this List

li = []
for i in l:       #Using for Loop
  if i%2 == 0:
    li.append(i)

li

[2, 4, 6, 8]

###Filter Function Example

In [ ]:
l = [1,2,3,4,5,6,7,8]

def filter_function(a):
  return a>3                                  #Give value which are greater than 3
newlist = list(filter(filter_function, l))

print(newlist)

[4, 5, 6, 7, 8]

###reduce Function
### In (2,3,4,5)
###first - 2*3 = 6 
###then - 6*4 = 24
###then - 24*5 = 120
###That's how reduce works (It takes a & b)

In [ ]:
l = [1,2,3,4,5,6,7,8]   #Give me summation of this entire element

sum(l)

36

In [ ]:
from functools import reduce

reduce(lambda a,b: a*b, l)   #reduce  - only take 2 arguments. It will not take more than 2 arguments

40320